<div class="row">
      
      <div class="col-md-6" ui-sref="webapp.alarmClockItem.view.calendarlist({ id: a.id })" ng-repeat="a in alarmClocks">
        <div class="block-flat dark-box" style="background: {{a.color}};">
						<div class="header">
              <div class="actions">
              </div>
							<h3>{{a.name}}</h3>
						</div>
						<div class="content">
							<div class="clock-wrap" style="color: {{a.color}};">
              <div class="hour-wrap">
		<div class="digit-top">
			<div class="front">{{ clock  | date:'HH'}}</div>
			<div class="back">{{ clock  | date:'HH'}}</div>
		</div>
		<div class="digit-bottom">
			<div class="front">{{ clock  | date:'HH'}}</div>
		</div>
	</div>
	<div class="min-wrap">
		<div class="digit-top">
			<div class="front">{{ clock  | date:'mm'}}</div>
			<div class="back">{{ clock  | date:'mm'}}</div>
		</div>
		<div class="digit-bottom">
			<div class="front">{{ clock  | date:'mm'}}</div>
		</div>
	</div>
	<div class="sec-wrap">
		<div class="digit-top">
			<div class="front">{{ clock  | date:'ss'}}</div>
			<div class="back">{{ clock  | date:'ss'}}</div>
		</div>
		<div class="digit-bottom">
			<div class="front">{{ clock  | date:'ss'}}</div>
		</div>
	</div>
</div>
              <center><button type="button" class="btn btn-white btn-rad btn-trans" style="margin-top: 10px;">Configuration</button></center>
            </div>
        </div>
        </div>

        <div class="col-md-6" ui-sref="webapp.alarmClockAdd">
        <div class="block-flat dark-box" >
						<center style="margin-top : 55px; margin-bottom: 55px;"><div class="content">
							<h1><i class="glyphicon glyphicon-plus"></i></h1>
              <button type="button" class="btn btn-white btn-rad btn-trans" style="margin-top: 10px;">Ajouter un réveil</button>
            </div></center>
        </div>
        </div>

      </div>