<div id="cl-wrapper" class="sign-up-container" style="background: #333;">

	<div class="middle-sign-up">
		<div class="block-flat">
			<div class="header">							
				<h3 class="text-center" style="margin-bottom: -15px;"><img class="logo-img" src="images/logo.png" alt="logo" ></h3>
			</div>
			<div>
					<div class="content">
						<h5 class="title text-center"><strong>Connexion</strong></h5>
              <hr>
              <p>My Lazy Clock, le seul réveil qui vous réveil automatiquement en fonction de votre emplois du temps personnel</p>
            <button class="btn btn-block btn-success btn-rad btn-lg" type="submit" ng-click="doLogin()"><span class="glyphicon glyphicon-user"></span>  Connexion avec votre compte Google</button>
							
					</div>
			</div>
		</div>
		<div class="text-center"<a href="#"  style="color: #ffffff;">© 2014 My Lazy Clock</a></div>
	</div> 
	
</div>