@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);

body{
  padding:0px;
  margin:0px;
  background-color:#16a085;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color:#ffffff;
  text-align:center;
}

h1 {

  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight:300;
  font-size:40px;
  color:#ffffff;
  margin: 30px 0 0 0;
  text-align:center;
}

a {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color:#fff;
  text-decoration:none;
  display:block;
  margin:15px auto 0 auto;
  text-align:center;
}

.clock-wrap{
	width:610px;
  font-family: 'Pathway Gothic One', sans-serif;
	height:200px;
	margin:20px auto 30px auto;
	padding:15px;
}

.min-wrap,
.hour-wrap, .sec-wrap{
	width:200px;
	height:200px;
	
	float:left;
	position: relative;
}

.min-wrap, .sec-wrap{
	margin-left: 4px;
}


.digit-top, 
.digit-bottom{
	width:200px;
	height:100px;
	position: absolute;
}

.clock-wrap .front, .clock-wrap .back{
	width: 200px;
	height: 100px;
	position: absolute;
	overflow: hidden;
  background:#ffffff;
	color:#16a085;
	text-align: center;
	font-size: 150px;

	transition: transform 800ms, z-index 800ms;
	-moz-transition: -moz-transform 800ms, z-index 800ms;
	-webkit-transition: -webkit-transform 800ms, z-index 800ms;
	-o-transition: -o-transform 800ms, z-index 800ms;

	

	-webkit-transform-style: preserve-3d;
}

.clock-wrap .front{
	z-index: 30;
	

	transform-origin: 0px 100px;
	-webkit-transform-origin: 0px 100px;
	-moz-transform-origin: 0px 100px;
	-o-transform-origin: 0px 100px;

	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg); 
	-o-transform: rotateX(0deg); 
    backface-visibility: hidden;
}

.clock-wrap .back{
	z-index: 20;
	top:100px;

	transform-origin: 0px 0;
	-webkit-transform-origin: 0px 0;
	-moz-transform-origin: 0px 0;
	-o-transform-origin: 0px 0;

	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg); 
	-o-transform: rotateX(180deg);
    backface-visibility: hidden;

    line-height:0;
}


.digit-top{
	line-height:200px;
	top:0;
	z-index: 10;
  
}

.digit-bottom{
	top: 100px;
	line-height:0;
	z-index: 0;
  background:lighten(#ededed,20);
}


.hour-wrap:before, .min-wrap:before, .sec-wrap:before {
  content:"";
background:#000000;
  opacity:0.04;
  position:absolute;
  width:200px;
  height:100px;
  top:0;
  left:0;
  z-index:9999;
}