<h1>Ajouter un nouveau réveil</h1>



<form class="form-horizontal" ng-submit="submitAdd()" name="addAlarmClock">
<fieldset>

<p>Saisir l'identificant visible sur le reveil (suite de chiffre)</p>
<!-- Text input-->
<div class="form-group">
  <input ng-model="alarmClock.id" name="textinput" type="text" placeholder="ID de du réveil" class="form-control input-md">
</div>

<p>Nom du réveil</p>
<!-- Text input-->
<div class="form-group">
  <input ng-model="alarmClock.name" name="textinput" type="text" placeholder="Nom du réveil" class="form-control input-md">
</div>

<p>Adresse où se trouve le réveil</p>
<!-- Text input-->
<div class="form-group">
  <input ng-model="alarmClock.address" name="textinput" type="text" placeholder="Adresse du réveil" class="form-control input-md">
</div>

<p>Temps que vous voulez pour vous préparer</p>
<!-- Text input-->
<div class="form-group">
  <input ng-model="alarmClock.preparationTime" name="textinput" type="text" placeholder="" class="form-control input-md">
</div>

<p>Couleur du réveil</p>
<!-- Text input-->
<div class="form-group">
  <input ng-model="alarmClock.color" name="textinput" type="text" placeholder="" class="form-control input-md">
</div>

<button type="submit" class="btn btn-primary" ng-class="{'disabled' : !addAlarmClock.$valid}">Ajouter</button>
</fieldset>
</form>
