<div class="block-flat dark-box" style="background: {{alarmClock.color}};">
<div class="header">
  <div class="actions">
  </div>
  <h3>
    <a class="minimize" ui-sref="webapp.home">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    Ajouter un nouveau réveil
  </h3>
</div>
<div class="content">



<form class="form-horizontal" ng-submit="submitAdd()" name="addAlarmClock">
<fieldset>

<p>Saisir l'identificant visible sur le reveil (suite de chiffre)</p>
<!-- Text input-->
<div class="form-group" ng-class="{'has-error' : !addAlarmClock.id.$valid}">
  <input ng-model="alarmClock.id" name="id" type="text" placeholder="ID de du réveil" required class="form-control input-md">
</div>

<p>Nom du réveil</p>
<!-- Text input-->
<div class="form-group" ng-class="{'has-error' : !addAlarmClock.name.$valid}">
  <input ng-model="alarmClock.name" name="name" type="text" placeholder="Nom du réveil" required class="form-control input-md">
</div>

<p>Adresse où se trouve le réveil</p>
<!-- Text input-->
<div class="form-group" ng-class="{'has-error' : !addAlarmClock.address.$valid}">
  <input ng-model="alarmClock.address" name="address" type="text" placeholder="Adresse du réveil" required class="form-control input-md">
</div>

<p>Temps que vous voulez pour vous préparer</p>
<!-- Text input-->
<div class="form-group" ng-class="{'has-error' : !addAlarmClock.preparationTime.$valid}">
  <select class="form-control input-md" ng-model="alarmClock.preparationTime" ng-options="preparationTime.name for preparationTime in preparationTimes" name="preparationTime" required><option value="">-- Choix de la durée pour vous préparer --</option></select>
</div>

<p>Couleur du réveil</p>
<!-- Text input-->
<div class="row colorSelect">
  <div class="col-md-2">
    <div class="well wellBtn" ng-model="alarmClock.color" btn-radio="'#2196F3'" style="background: #2196F3;"></div>
  </div>
  <div class="col-md-2">
    <div class="well wellBtn" ng-model="alarmClock.color" btn-radio="'#3F51B5'" style="background: #3F51B5;"></div>
  </div>
  <div class="col-md-2">
    <div class="well wellBtn" ng-model="alarmClock.color" btn-radio="'#4CAF50'" style="background: #4CAF50;"></div>
  </div>
  <div class="col-md-2">
    <div class="well wellBtn" ng-model="alarmClock.color" btn-radio="'#9C27B0'" style="background: #9C27B0;"></div>
  </div>
  <div class="col-md-2">
    <div class="well wellBtn" ng-model="alarmClock.color" btn-radio="'#F44336'" style="background: #F44336;"></div>
  </div>
  <div class="col-md-2">
    <div class="well wellBtn" ng-model="alarmClock.color" btn-radio="'#607D8B'" style="background: #607D8B;"></div>
  </div>
  
</div>

<button type="submit" class="btn btn-white btn-rad btn-trans" ng-class="{'disabled' : !addAlarmClock.$valid}">Ajouter</button>
</fieldset>
</form>
</div>
</div>
