<h1>Add a new alarm clock</h1>

<p>Please, enter id visible on your alarm clock</p>

<form class="form-horizontal" ng-submit="submitAdd()" name="addAlarmClock">
<fieldset>

<!-- Text input-->
<div class="form-group">
  <input id="textinput" ng-model="alarmClock.id" name="textinput" type="text" placeholder="Alarm clock id" class="form-control input-md">
</div>

<p>Name</p>
<!-- Text input-->
<div class="form-group">
  <input id="textinput" ng-model="alarmClock.name" name="textinput" type="text" placeholder="Alarm clock name" class="form-control input-md">
</div>

<p>Address</p>
<!-- Text input-->
<div class="form-group">
  <input id="textinput" ng-model="alarmClock.address" name="textinput" type="text" placeholder="Alarm clock id" class="form-control input-md">
</div>

<p>default loc</p>
<!-- Text input-->
<div class="form-group">
  <input id="textinput" ng-model="alarmClock.defaultEventLocation" name="textinput" type="text" placeholder="Alarm clock id" class="form-control input-md">
</div>

<p>prepa</p>
<!-- Text input-->
<div class="form-group">
  <input id="textinput" ng-model="alarmClock.preparationTime" name="textinput" type="text" placeholder="Alarm clock id" class="form-control input-md">
</div>

<p>travelMode</p>
<!-- Text input-->
<div class="form-group">
  <input id="textinput" ng-model="alarmClock.travelMode" name="textinput" type="text" placeholder="Alarm clock id" class="form-control input-md">
</div>

<button type="submit" class="btn btn-primary" ng-class="{'disabled' : !addAlarmClock.$valid}">Add</button>
</fieldset>
</form>
