				<div class="block-flat dark-box" ng-style="{'background': alarmClock.color}">		
						<div class="header">
              <div class="actions">
                <a class="minimize" ui-sref="webapp.alarmClockItem.edit({ id: alarmClock.id })"><i class="glyphicon glyphicon-pencil"></i></a>
                <a class="minimize" ui-sref="webapp.alarmClockItem.delete({ id: alarmClock.id })"><i class="glyphicon glyphicon-remove"></i></a>
              </div>
							<h3>{{alarmClock.name}}</h3>
						</div>
						<div class="content">
              <div class="clock-wrap" ng-controller="myLazyClock.controller.clock" style="color: {{alarmClock.color}};">
	<div class="hour-wrap">
		<div class="digit-top">
			<div class="front">00</div>
			<div class="back">00</div>
		</div>
		<div class="digit-bottom">
			<div class="front">00</div>
		</div>
	</div>
	<div class="min-wrap">
		<div class="digit-top">
			<div class="front">00</div>
			<div class="back">00</div>
		</div>
		<div class="digit-bottom">
			<div class="front">00</div>
		</div>
	</div>
	<div class="sec-wrap">
		<div class="digit-top">
			<div class="front">00</div>
			<div class="back">00</div>
		</div>
		<div class="digit-bottom">
			<div class="front">00</div>
		</div>
	</div>
</div>
						</div>
					</div>


<accordion close-others="true">
    <accordion-group ng-repeat="c in googleCalendars">
        <accordion-heading>
            <i class="glyphicon glyphicon-calendar"></i> {{c.summary}}
        </accordion-heading>
        gcal
    </accordion-group>
    <accordion-group>
        <accordion-heading ng-style="{'background': alarmClock.color}">
            <i class="glyphicon glyphicon-plus"></i> Ajouter un nouveau calendrier
        </accordion-heading>
        ajouter
    </accordion-group>
  </accordion>