

  <accordion close-others="true">
    <accordion-group ng-repeat="calendar in calendars" is-open="status.open">
        <accordion-heading>
            <i class="glyphicon glyphicon-calendar"></i> {{calendar.name}}
            
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            <span ng-show="calendar.calendarType=='GOOGLE_CALENDAR'" class="pull-right label label-default google">Google Calendar</span>
            <span ng-show="calendar.calendarType=='ICS_FILE'" class="pull-right label label-default">ICS</span>
            <span ng-show="calendar.calendarType=='EDT'" class="pull-right label label-default">EDT - Universités</span>  
        
        </accordion-heading>
        <p>Moyen de transport : {{calendar.travelMode}}</p>
        <p>Lieu par défaut des évenements : {{calendar.defaultEventLocation}} <span ng-hide="calendar.useAlwaysDefaultLocation">(utilisé même si l'évenement posséde une adresse)</span></p>
         <div class="row">
            <div class="col-md-6">
              <a type="submit" class="btn btn-primary btn-block" ui-sref="webapp.alarmClockItem.view.calendaredit({ calendar: calendar.id })">Editer</a>
            </div>
            <div class="col-md-6">
              <a type="submit" class="btn btn-primary btn-block" ui-sref="webapp.alarmClockItem.view.calendardelete({ calendar: calendar.id })">Supprimer</a>
            </div>
          </div>
        
    </accordion-group>
  </accordion>
<div class="accordion accordion-semi ">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="accordion-toggle" ui-sref="webapp.alarmClockItem.view.calendarnew">
            <i class="glyphicon glyphicon-plus ng-scope"></i><span class="ng-scope"> Ajouter un nouveau calendrier
            </span><i class="pull-right glyphicon glyphicon-chevron-right"></i>
        </a>
    </h4>
  </div>
</div>
</div>
</div>