<div class="accordion accordion-semi ">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
             <a ui-sref="webapp.alarmClockItem.view.calendarlist"><i class="glyphicon glyphicon-chevron-left"></i> Ajouter un nouveau calendrier
        </a>
    </h4>
  </div>
  <div >
      <div class="panel-body">
        <tabset justified="true">
            <tab ng-click="onTabSelect('google')">
                <tab-heading>
                    Google Calendar
                </tab-heading>
                <div ng-show="googleOfflineOk">
                <p>Choisir votre Calendrier Google</p>
                <div class="form-group">
                    <select class="form-control" ng-model="temp.google" ng-options="cal.summary for cal in googleCalendars"><option value="">-- Choix du calendrier --</option></select>
                </div>
                </div>
                <div ng-hide="googleOfflineOk">
                    <p>Afin de pouvoir ajouter un calendrier google sur votre réveil, vous devez valider l'accès hors connexion aux données à l'application</p>
                    <button class="btn btn-primary btn-block" ng-click="offlineGoogle()">Validation accès hors connexion</button>
                </div>
            </tab>
            <tab ng-click="onTabSelect('ics')">
                <tab-heading>
                    Calendrier ics 
                </tab-heading>
                <p>Nom du calendrier</p>
                <div class="form-group">
                    <input ng-model="temp.ics.name" name="textinput" type="text" placeholder="Nom du calendrier" class="form-control input-md">
                </div>
                <p>Url du calendrier (lien vers le fichier ics)</p>
                <div class="form-group">
                    <input ng-model="temp.ics.param" name="textinput" type="text" placeholder="url du calendrier (ics)" class="form-control input-md">
                </div>
            </tab>
            <tab ng-click="onTabSelect('edt')">
                <tab-heading>
                    EDT - Universités
                </tab-heading>
                <p>Choisir l'UFR</p>
                <div class="form-group">
                    <select class="form-control" ng-model="temp.edt.ufr" ng-options="ufr.name for ufr in edtUfr" ng-change="edtUpdateGroups()"><option value="">-- Choix de l'UFR --</option></select>
                </div>
                <p>Choisir du groupe</p>
                <div class="form-group">
                    <select class="form-control" ng-model="temp.edt.group" ng-options="group.name for group in edtGroups"><option value="">-- Choix du groupe --</option></select>
                </div>
            </tab>
        </tabset>
                <p>Moyen de transport utilisé pour se rendre aux événements</p>
                <div class="form-group">
                    <select class="form-control" ng-model="temp.travelMode" ng-options="travelMode.name for travelMode in travelsMode"><option value="">-- Choix du moyen de transport --</option></select>
                </div>

                <p>Si un évenement du calendrier ne comporte pas de lieu, quel lieu doit être choisit</p>
                <div class="form-group">
                    <input ng-model="newCalendar.defaultEventLocation" id="" name="textinput" type="text" placeholder="lieu par défaut" class="form-control input-md">
                </div>
                <label><input type="checkbox" ng-model="newCalendar.useAlwaysDefaultLocation"> Forcer à utiliser ce lieu pour tout les événements</label>
        <button type="submit" class="btn btn-primary btn-block" ng-click="submitAdd()">Ajouter au réveil</button>
  </div>
</div>
</div>
</div>
